/* .flag {
  width: 150px;
}
.table-body {
  background-color: aquamarine;
} */

.table {
  color: rgb(214, 74, 74);
}
.table thead {
  background-color: lightcoral;
}
.table tbody {
  background-color: beige;
  color: crimson;
}
.table colgroup {
  column-span: style= "width: 20%";
}
